/* my-styles */
.main-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto 30px;
  background:lightseagreen;
  max-width: 200px;
  width: 100%;
  height: 40px;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
.wrapper {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* sPopup styles */
.close-popup-btn {
  position: relative;
  font-size: 20px;
  color: #000;
  cursor: pointer;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  display: none;
}
.popup--visible {
  display: block;
}
.popup__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.popup__holder {
  padding: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 999;
  max-width: 615px;
  width: 100%;
  background: #fff;
  border-radius: 12px;
}